<div class="mt-4">
    <form>
        <div method="POST" action="" class="mb-3">
        <label for="search-input" class="form-label">Key search</label>
        <input
            type="text"
            name="q"
            class="form-control"
            id="search-input"
            placeholder="Enter your search..."
        />
        </div>

        <div class="mb-3">
        <label for="gender-input" class="form-label">Key search</label>
        <select name="gender" class="form-control" id="search-input">
            <option value="">-- Select gender --</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>